

<section class="laura bg scroll-active" id="laura">
	<div class="container">
		<div class="content os-phrases" id="os-phrases">
			<h1 id="fittext3">{{bio.player_one.title}}<span>{{bio.player_one.title1}}</span></h1>
			<h3><span>{{bio.player_one.subtitle}}</span> {{bio.player_one.subtitle1}}</h3>
			<div class="right_text_block">
				<h4>{{bio.player_one.name}}</h4>
				<p>{{bio.player_one.dest}}</p>
			</div>
			
			<ul>
				<li class="first"><a href=""></a></li>
				<li class="second"><a href=""></a></li>
				<li class="third"><a href=""></a></li>
				<li class="fourth"><a href=""></a></li>
			</ul>
			<div class="netball-logo">
				<img src="{{bio.player_one.imgsrc_netball}}" alt="{{bio.player_one.imgsrc_netball_alt}}" title="{{bio.player_one.imgsrc_netball_title}}" />
			</div>
			<div class="character" data-stellar-ratio="1.5">
				<img src="{{bio.player_one.imgsrc}}" alt="{{bio.player_one.imgsrc_alt}}" title="{{bio.player_one.imgsrc_title}}" />
			</div>
		</div>		
	</div>

	
	<div class="nav">
		<section>
  			<nav class="stroke">
    			<ul>
				
      				<li><a data-type="laura" href="Javascript:void(0)">RETHINK</a></li>
      				<li><a data-type="sharni" href="Javascript:void(0)">OUR PARTNERSHIP</a></li>
      				<li><a data-type="video" href="Javascript:void(0)">OUR STORY</a></li>
      				<li><a data-type="slider" href="Javascript:void(0)">OUR AMBASSADORS</a></li>

    			</ul>
  			</nav>
		</section>
	</div>
</section>