

<section class="sharni scroll-active" id="sharni">
	<div class="layout">
		<div class="left-col">
			<h2>{{sharnisection.player_overview.title}}</h2>
			<hr class="animateme scrollme"
        data-when="span"
        data-from="0.5"
        data-to="0"
        data-opacity="0"
        data-translatex="-200">
			<p>{{sharnisection.player_overview.descrpiton}}<span>{{sharnisection.player_overview.descrpiton1}}</span>{{sharnisection.player_overview.descrpiton2}}<span>{{sharnisection.player_overview.descrpiton3}}</span>{{sharnisection.player_overview.descrpiton4}}</p>
			<p><span>{{sharnisection.player_overview.descrpiton5}}</span>{{sharnisection.player_overview.descrpiton6}}<span>{{sharnisection.player_overview.descrpiton7}}</span>{{sharnisection.player_overview.descrpiton8}}</p>
			<p class="hatchtag">
			{{sharnisection.player_overview.descrpiton9}}<span>{{sharnisection.player_overview.descrpiton10}}</span>{{sharnisection.player_overview.descrpiton11}}
			</p>
		</div>
		<div class="right-col">

			
		
	

			        
        <img src="{{sharnisection.player_overview.imgsrc}}" alt="{{sharnisection.player_overview.imgsrc_alt}}">


		</div>
	</div>
</section>